model_with_hamiltonian_collocation_points_8
model_with_hamiltonian_collocation_points_8
model_with_hamiltonian_collocation_points_8
model_with_hamiltonian_collocation_points_8
model_with_hamiltonian_collocation_points_8
model_with_hamiltonian_collocation_points_16
model_with_hamiltonian_collocation_points_32
model_with_hamiltonian_collocation_points_64
model_with_hamiltonian_collocation_points_128
model_with_hamiltonian_collocation_points_256
model_with_hamiltonian_collocation_points_512
model_without_hamiltonian_collocation_points_8
model_without_hamiltonian_collocation_points_16
model_without_hamiltonian_collocation_points_32
model_without_hamiltonian_collocation_points_64
model_without_hamiltonian_collocation_points_128
model_without_hamiltonian_collocation_points_256
model_without_hamiltonian_collocation_points_512
model_without_hamiltonian_reg